<div *ngIf="discipline">
    <h2>{{discipline.name}} Details</h2>
    <div><span>id: </span>{{discipline.id}}</div>
    <div>
      <label for="discipline-name">Discipline: </label>
      <input id="discipline-name" [(ngModel)]="discipline.name" placeholder="Discipline name"/>
    </div>
    <div>
        <label for="discipline-abbreviation">Abbreviation: </label>
        <input id="discipline-abbreviation" [(ngModel)]="discipline.abbreviation" placeholder="Discipline abbreviation"/>
    </div>
    <div>
        <label for="discipline-description">Description: </label>
        <input id="discipline-description" [(ngModel)]="discipline.description" placeholder="Discipline description"/>
    </div>
    <div>
        <label for="discipline-author">Author: </label>
        <input id="discipline-author" [(ngModel)]="discipline.author" placeholder="Discipline author"/>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
  
