<h2>Academic disciplines</h2>

<div>
  <label id="new-discipline-name">Discipline name: </label>
  <input for="new-discipline-name" #disciplineName />
  <label id="new-discipline-abbreviation">Abbreviation: </label>
  <input for="new-discipline-abbreviation" #disciplineAbbreviation />
  <label id="new-discipline-description">Description: </label>
  <input for="new-discipline-description" #disciplineDescription />
  <button class="add-button" (click)="add(disciplineName.value, disciplineAbbreviation.value, disciplineDescription.value);
            disciplineName.value=''; disciplineAbbreviation.value=''; disciplineDescription.value=''">
    Add discipline
  </button>
</div>

<!-- <ul class="disciplines">
  <li *ngFor="let discipline of disciplines">
    <a routerLink="/disciplines/{{discipline.id}}">
      <span class="badge">{{discipline.id}}</span> {{discipline.name}}
    </a>
  </li>
</ul> -->

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Abbreviation</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let discipline of disciplines">
      <th scope="row">{{discipline.id}}</th>
      <td><a routerLink="/disciplines/{{discipline.id}}">{{discipline.name}}</a></td>
      <td>{{discipline.abbreviation}}</td>
      <td>{{discipline.description}}</td>
    </tr>
  </tbody>
</table>