<div *ngIf="material">
    <h2>{{material.name}} Details</h2>
    <div *ngIf="user && user.role === userRoles.Teacher">
        <div><span>id: </span>{{material.id}}</div>
        <div>
        <label for="material-name">Material: </label>
        <input id="material-name" [(ngModel)]="material.name" placeholder="Material name"/>
        </div>
        <div>
            <label for="material-type">Material type: </label>
            <input id="material-type" [(ngModel)]="material.type" placeholder="Material type"/>
        </div>
        <div>
            <label for="material-discipline">Academic discipline: </label>
            <input id="material-discipline" [(ngModel)]="material.academicDiscipline.name" placeholder="Academic discipline"/>
        </div>
        <div>
            <label for="material-author">Material author: </label>
            <input id="material-author" [(ngModel)]="material.author.fullName" placeholder="Material author"/>
        </div>
        <div>
            <label for="material-reviewer">Material reviewer: </label>
            <input id="material-reviewer" [(ngModel)]="material.reviewer.fullName" placeholder="Material reviewer"/>
        </div>
        <div>
            <label for="material-description">Material description: </label>
            <input id="material-description" [(ngModel)]="material.description" placeholder="Material description"/>
        </div>
    </div>

    <div *ngIf="user && user.role === userRoles.Professor">
        <div><span>id: </span>{{material.id}}</div>
        <div><span>Material: </span>{{material.name}}</div>
        <div><span>Material type: </span>{{material.type}}</div>
        <div><span>Academic discipline: </span>{{material.academicDiscipline.name}}</div>
        <div><span>Material author: </span>{{material.author.fullName}}</div>
        <div><span>Material reviewer: </span>{{material.reviewer.fullName}}</div>
        <div><span>Material description: </span>{{material.description}}</div>
    </div>
    <div>
        <label for="material-status">Review status: </label>
        <select id="material-status" class="form-select form-select-lg mb-3" ng-options="option.key for option in reviewStatuses track by option.key" ng-model="selected">
        <!-- <option *ngFor="let reviewStatus of reviewStatuses | keyvalue" value={{reviewStatus.key}}>{{reviewStatus.value}}</option> -->
        </select>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
